<p>Здравствуйте, уважаемый(-ая) <%= fio %> !</p>
<p>Вы зарегистрировались на участие в акции «Доступный город». Чтобы выбрать объекты для проверки, войдите в личный кабинет</p>
<br>
<p>Направляем Вам данные для входа в Вашу учетную запись:</p>
<p>Логин: <%= login %></p>
<p>Пароль: <%= password %></p>

<p>С уважением, Команда акции «Доступный город».</p>
