<p>Здравствуйте, <%= fio %>!</p>

<p>Ваш пароль  от аккаунта для участия в акции "Доступный город" изменен</p>
<br>
<p>Новые данные для входа в Вашу учетную запись:</p>
<p>Логин: <%= login %></p>
<p>Пароль: <%= password %></p>

<p>С уважением, служба технической поддержки.</p>
